* {
  margin: 0;
}

body {
  font-family: "Gothic A1", sans-serif;
}

.app {
  height: 100vh;
  color: white;
  overflow: auto;
  background-size: cover;
  text-align: center;
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #414345,
    #232526
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #414345,
    #232526
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.app__navbar {
  padding: 30px 0px 30px 0px;
}

.app__linkBox {
  padding: 20px;
}

.app__linkBox {
  input {
    padding: 20px;
    width: 80%;
    font-size: 20px;
    border-radius: 8px;
    color: #232526;
  }
}
